<%= form_with(model: detail_incident_report, local: true, multipart: true) do |form| %>
  <% if detail_incident_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(detail_incident_report.errors.count, "error") %> prohibited this detail_incident_report from being saved:</h2>

      <ul>
      <% detail_incident_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>Incident Reporting Page</div>

  <div class="field">
    <%= form.label :incident_type %>
    <%= form.select :incident_type, options_for_select(DetailIncidentReport::INCIDENT_TYPE, selected: @detail_incident_report.incident_type), {prompt: "Please Select"}, { :multiple => true, :size => 5 } %>
  </div>

   <div class="field">
    <%= form.label :people_involved %>
    <%= form.text_field :people_involved %>
  </div>

  <div class="field">
    <%= form.label :other_observer %>
    <%= form.text_field :other_observer %>
  </div>

  <div class="field">
    <%= form.label :date_time_observed %>
    <%= form.text_field :date_time_observed %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :observer_detail %><br />
    <%= form.label :observer_detail, "Fill Detail", value: true  %>
    <%= form.radio_button :observer_detail, true, class: 'observer_detail'%>
    <%= form.label :observer_detail, "anonymus", value: false %>
    <%= form.radio_button :observer_detail, false, :checked => true, class: 'observer_detail' %>
  </div>

  <div class="field observer_detail_section hide">
    <%= form.fields_for :observer do |f| %>
      <%= f.label :name %>
      <p><%= f.text_field :name %></p>
      <%= f.label :email %>
      <p><%= f.text_field :email %></p>
      <%= f.label :role %>
      <p><%= f.select :role, options_for_select(DetailIncidentReport::ROLE_TYPE, selected: @detail_incident_report.observer.role, prompt: "Please Select") %></p>
    <% end %>
  </div>

  <%= form.fields_for :attachments do |f| %>
    <p>
    <%= f.file_field :attachment, multiple: true, name: "detail_incident_report[attachments_attributes][][attachment]"  %>
    </p>
  <% end %>

  <div class="actions">
    <%= form.submit 'Submit' %>
  </div>

  <%= link_to 'Back to Incident Report', root_path %>


<% end %>
