<%= form.fields_for :detail_incident_report, detail_incident_report  do |f| %>
  <div class="field">
    <%= f.label :incident_type %>
    <div class="w-25">
      <%= f.select :incident_type, options_for_select(DetailIncidentReport::INCIDENT_TYPE, selected: detail_incident_report.incident_type), { include_hidden: false }, { :multiple => true,  class: "chosen-select inputs"} %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="field">
    <%= f.label :people_involved %>
    <div class="w-25">
      <%= f.text_field :people_involved, placeholder: 'student, teacher, staff, parent, grade level', class: "inputs" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="field">
    <%= f.label :other_observer %>
    <div class="w-25">
      <%= f.text_field :other_observer, placeholder: 'Name and details', class: "inputs" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="field">
    <%= f.label :date_time_observed %>
    <div class="w-25">
      <%= f.datetime_field :date_time_observed, placeholder: 'Approximate Time', class: "inputs" %>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="field">
    <%= f.label :location %>
    <div class="w-25">
      <%= f.select :location, options_for_select(DetailIncidentReport::LOCATIONS, selected: detail_incident_report.location), {prompt: "Select"}, {class: "inputs chosen-select", id: 'location-select'}
         %>
    </div>
    <div class="clearfix"></div>
    <div class="w-50"><%= f.text_area :location_other_text, class: 'location-text hidden inputs', placeholder: 'Please specify other location' %></div>
    <div class="clearfix"></div>
  </div>

  <div class="field">
    <%= f.fields_for :observer do |observer_form| %>
      <div class="field radios">
        <div class="w-20">
          <%= observer_form.label :observer_detail, "Oberver Details", value: true  %>
          <%= observer_form.radio_button :observer_detail, true, :checked => true, class: 'observer_detail'%>
        </div>
        <div class="w-25">
          <%= observer_form.label :observer_detail, "Anonymus", value: false %>
          <%= observer_form.radio_button :observer_detail, false, class: 'observer_detail' %>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="observer_detail_section <%= observer_class(detail_incident_report) %>">
        <%= observer_form.label 'Name*' %>
         <div class="w-25">
          <%= observer_form.text_field :name, placeholder: 'Enter name', class: "inputs"  %>
        </div>
        <div class="clearfix"></div>
        <%= observer_form.label 'Email/Phone' %>
        <div class="w-25"><%= observer_form.text_field :email_or_phone, placeholder: 'Enter email or phone', class: "inputs"  %></div>
        <div class="clearfix"></div>
        <%= observer_form.label :role %>
        <div class="w-25"><%= observer_form.select :role, options_for_select(DetailIncidentReport::ROLE_TYPE, selected: detail_incident_report.observer_role),  {prompt: "Select"}, class: "inputs chosen-select"  %></div>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
<% end %>

