<%= form_with(model: incident_report, local: true, multipart: true) do |form| %>
  <% if incident_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident_report.errors.count, "error") %> prohibited this incident_report from being saved:</h2>

      <ul>
      <% incident_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>Incident Reporting Page</div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.fields_for :attachments do |f| %>
             <p>
                 <%= f.file_field :attachment, multiple: true, name: "incident_report[attachments_attributes][][attachment]"  %>


             </p>

         <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

    <%= link_to 'Report Incident in Detail', new_detail_incident_report_path %>

<% end %>
