<%= form_with(model: incident_report, local: true, multipart: true) do |form| %>
  <p id='notice'><%= flash[:notice] %></p>
  <% if incident_report.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(incident_report.errors.count, 'error') %> prohibited this incident_report from being saved:</h2>
      <ul>
      <% incident_report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='field'>
    <%= form.label :description %>
    <div class='w-50'>
      <%= form.text_area :description, class: 'inputs', rows: '5', placeholder: 'Describe incident'  %>
    </div>
    <div class='clearfix'></div>
  </div>

  <div class= 'detail-incident-section <%= incident_class(incident_report) %>'>
    <%= render 'detail_incident_reports/form', form: form, detail_incident_report: (incident_report.detail_incident_report || DetailIncidentReport.new) %>
  </div>

  <div class= 'file-selection-area'>
    <%= form.fields_for :attachments, (incident_report.attachments.first || Attachment.new) do |f| %>
      <label class='custom-file-select'>
        Add photos
        <%= f.file_field :attachment, multiple: true, name: "incident_report[attachments_attributes][][attachment]", id: 'incident-file-upload'  %>
      </label>
      <label id='file-name' class= 'file-name-section'></label>
    <% end %>
  </div>

  <div class='custom-checkbox-div'>
    <label class='custom-checkbox'>
      <div class='lable-text'><%= incident_label(incident_report) %></div>
      <%= form.check_box :incident_report_type, {class: 'btn-sub detail-incident'} %>
    </label>
  </div>

  <div class='actions'>
    <%= form.submit 'Submit', class: 'btn-sub' %> OR
  </div>

<% end %>
