<p id="notice"><%= notice %></p>

<h1>Incident Reports</h1>

<table>
  <thead>
    <tr>
      <th>School name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incident_reports.each do |incident_report| %>
      <tr>
        <td><%= incident_report.school_name %></td>
        <td><%= incident_report.description %></td>
        <td><%= link_to 'Show', incident_report %></td>
        <td><%= link_to 'Edit', edit_incident_report_path(incident_report) %></td>
        <td><%= link_to 'Destroy', incident_report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Incident Report', new_incident_report_path %>
