<p id="notice"><%= notice %></p>

<p>
  <strong>School name:</strong>
  <%= @incident_report.school_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @incident_report.description %>
</p>

<%= link_to 'Edit', edit_incident_report_path(@incident_report) %> |
<%= link_to 'Back', incident_reports_path %>
